// button colors //
$def-color:#51ddfc;
$err-color:#e4757a;
$info-color:#927bc1;
$success-color:#63cc82;
$warning-color:#fd7856;

$btnbckg:(
  '.default':$def-color,
  '.error'  :$err-color,
  '.info'   :$info-color,
  '.success':$success-color,
  '.warning':$warning-color
);


//typography//
$headln-color-one:#58e1c1;
$headln-color-two:#777;
$link-color:#51ddfc;
$blockq-color:#58e1c1;

//nav//
$hover-color:#58e1c1;

//breakpoints//
$break:(
'sm' : 768px,
'lg' : 769px
)

