/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include btnstyle;
    @include breakpoint(sm){
      & {
        padding: 10px 30px;
        & + & {
          margin-left: 10px;
        }
      }
    }
    &:hover{
      background-color:lighten($color: $btnhov, $amount: 15) ;
      
    }
}
  
@each $classes ,$colors in $btnbckg {
    #{$classes}{
      background-color: $colors;
      transition: background-color .5s ease-in-out;
    }
}
  
  
  