/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include btnstyle;
    @include breakpoint(sm){
      & {
        padding: 10px 30px;
        & + & {
          margin-left: 10px;
        }
      }
    }
}
  
@each $classes ,$colors in $btnbckg {
    #{$classes}{
      background-color: $colors;
    }
}
  
  
  