/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include btnstyle;
    @include breakpoint(sm){
      & {
        padding: 10px 30px;
        & + & {
          margin-left: 10px;
        }
      }
    }
    &:hover{
      background-color: red;
      
    }
}
  
@each $classes ,$colors in $btnbckg {
    #{$classes}{
      background-color: lighten($color: $colors, $amount: 15);
      transition: background-color 1.2s ease-in-out;
    }
}
  
  
  