/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @media(min-width: 768px){
      &{
        @include center;
        max-width: 1400px;
      }
    }
  }
  
  .row {
    @include flex($disp:flex,$flexD:column);
    padding: 1em 10px;
    @media(min-width: 768px){
      &{
        @include flex($flexD:row)
      }
    }
  }
  
  [class^=col] {
    @include colstyle;
    @media(min-width:768px){
      & {
        @include flex($disp:flex, $just:center, $align:center);
        margin-top: 0;
        }
      & + & {
        margin-left: 10px;
      }
    } 
  }
  @for $i from 1 through 12 {
    .col-#{$i}{
      flex-basis: ($i/12)*100%;
    }  
  }
  
  @for $i from 1 through 12 {
    .theme.col-#{$i}{
      background-color: adjust-hue( #927bc1, $i * 60)
    }
  }

  .card {
    @include flex($flexB:100%);
  }

  @media(min-width:768px){
    .centered {
      @include center;
    }
  }