/* ============================================= */
/*              Images                           */
/* ============================================= */
.img{
  &-avatar {
    @include imgstyle($margT:10px, $maxW:100%, $maxH:100%);
    }
    
  &-frame {
    @include imgstyle($margT:10px, $maxW:100%);
    padding: 13px;
    border: 1px solid #ccc;
    }
    
  &-logo {
    @include imgstyle;
    @include breakpoint(sm){
      & {
        margin-left: initial;
        margin-right: initial;
      }
    }
  }
}
